# Basic Python Syntax

In [1]:
print("Hello")

Hello

In [9]:
print("Hello 
      Python")

SyntaxError: EOL while scanning string literal (<ipython-input-9-03ca04cf1a31>, line 1)

In [6]:
# 1. Backlash(Continuation)
print("Hello  \
       Python")

Hello         Python

In [7]:
# 2. Triple Quote
print(""" Hello Every One """)

 Hello Every One

In [18]:
print(""" (\_/)
( •,•)
(")_(") """)

 (\_/)
( •,•)
(")_(")

In [19]:
""" (\_/)
( •,•)
(")_(") """

' (\\_/)\n( •,•)\n(")_(") '

In [21]:
# 3. String inside the quotes
print('Hello World')

Hello World

In [24]:
print('Python's World')

SyntaxError: invalid syntax (<ipython-input-24-d3a0334e4983>, line 1)

In [25]:
print("Python's World")

Python's World

In [1]:
# 4. Escape sequence of string
print("Hello\tPython")

Hello	Python

In [2]:
print("Hello\nPython")

Hello
Python

In [3]:
print('Python\'s World' )

Python's World

In [4]:
print("Hello\aPython")

HelloPython

In [6]:
# 5. Formatted Output
name="XYZ"
marks="90"
age="20"
print("The name of person is", name ,"marks is", marks ,"age is", age)

The name of person is XYZ marks is 90 age is 20

In [12]:
name="XYZ"
marks=90.867
age=20
print("The name of person is", name ,"marks is", marks ,"age is", age)

The name of person is XYZ marks is 90.867 age is 20

In [13]:
print("The name of person is %s marks is %f age is%d"%(name,marks,age))

The name of person is XYZ marks is 90.867000 age is20

In [15]:
print("The name of person is %4s marks is %10.2f age is%10d"%(name,marks,age))

The name of person is  XYZ marks is      90.87 age is        20

In [16]:
print(f"The name of person is {name} marks is {marks} age is {age}")

The name of person is XYZ marks is 90.867 age is 20

# Types of Operators

In [1]:
# 1. Arithmetic operators
5**5

3125

In [2]:
10+20

30

In [3]:
10-20

-10

In [6]:
#In python 3-   int/int=float
10/2

5.0

In [7]:
10/3

3.3333333333333335

In [8]:
10%3

1

In [9]:
10//3

3

In [1]:
# 2. Comparison Operator
a=10
b=20
a==b

False

In [3]:
c=10
a==c

True

In [4]:
c<a

False

In [5]:
c<=a

True

In [6]:
a>b

False

In [8]:
a>=b

False

In [9]:
a!=b

True

In [10]:
str1="pythonprogramming"
"a" in str1

True

In [11]:
str1="pythonprogramming"
"x" in str1

False

In [12]:
str1="pythonprogramming"
"x" not in str1

True

In [13]:
a=10
b=10
a==b

True

In [14]:
a is b

True

In [15]:
id(a)

1697826832

In [16]:
id(b)

1697826832

In [18]:
x=1.5
y=1.5
x==y

True

In [19]:
x is y

False

In [20]:
id(x)

2274548155520

In [21]:
id(y)

2274548155040

In [24]:
a=257
b=257
a==b

True

In [25]:
a is b

False

In [2]:
#BODMAS
10+10/20*4

12.0

In [3]:
#Power
2**-1

0.5

In [5]:
#10>8 and 8>9
10>8>9

False